@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"), url("../fonts/soehne-web-kraftig.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/soehne-web-buch.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"), url("../fonts/soehne-web-halbfett.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"), url("../fonts/soehne-web-buch.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("../fonts/soehne-web-leicht.woff2") format("woff2");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}
